<header class="bg-rose-600 text-white shadow-md font-header">
  <div class="max-w-7xl mx-auto px-4 py-4">
    <div class="flex justify-between items-center">
      <!-- Logo -->
      <h1 class="text-2xl sm:text-3xl font-semibold tracking-wide cursor-default" >Eventify</h1>

      <!-- Hamburger Button -->
      <button class="sm:hidden text-white focus:outline-none text-2xl" (click)="toggleMenu()" aria-label="Toggle menu">
        <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
      </button>

      <!-- Desktop Navigation -->
      <nav class="hidden sm:flex">
        <ul class="flex space-x-6 text-base font-medium">
          @if (!authService.isLoggedIn()) {
            <li><a routerLink="/events" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">Events</a></li>
            <li><a routerLink="/about" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700  px-3 py-1 rounded transition">About</a></li>
            <li><a routerLink="/login" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">Login</a></li>
          } @else {
            @if(getRole() === 'ADMIN') {
              <li><a [routerLink]="goToHome()" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition cursor-pointer">Dashboard</a></li>
              <li><a routerLink="/admin/events" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">My Events</a></li>
              <li><a routerLink="/events" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">All Events</a></li>
              <li><a routerLink="/about" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700  px-3 py-1 rounded transition">About</a></li>
              <li><a routerLink="/profile" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">Profile</a></li>
            }@else {
              <li><a [routerLink]="goToHome()" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition cursor-pointer">Home</a></li>
              <li><a routerLink="/events" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">Events</a></li>
              <li><a routerLink="/bookings" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">Bookings</a></li>
              <li><a routerLink="/about" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700  px-3 py-1 rounded transition">About</a></li>
              <li><a routerLink="/profile" routerLinkActive="bg-white text-rose-700" class="hover:bg-white hover:text-rose-700 px-3 py-1 rounded transition">Profile</a></li>
            }
          }
        </ul>
      </nav>
    </div>

    <!-- Mobile Menu -->
    @if (isMenuOpen) {
      <div class="sm:hidden mt-4 border-t border-white/20 pt-4 space-y-2 text-center text-base">
        <a routerLink="/events" class="block hover:text-gray-100">Events</a>
        <a routerLink="/about" class="block hover:text-gray-100">About</a>
        <a routerLink="/contact" class="block hover:text-gray-100">Contact</a>

        @if (!authService.isLoggedIn()) {
          <a routerLink="/login" class="block hover:text-gray-100">Login</a>
        } @else {
          <a (click)="goToHome()" class="block hover:text-gray-100 cursor-pointer">Home</a>
          <a routerLink="/profile" class="block hover:text-gray-100">Profile</a>
        }
      </div>
    }
  </div>
</header>
